In [1]:
import pandas as pd
import plotly_express as px
import streamlit as st
#import needed packages

In [2]:
data = pd.read_csv('/Users/coopermigden/data_sets/vehicles_us (1).csv')
#Brings the data into the program

In [3]:
data.describe
#gives general information about the data and it shows how it looks

<bound method NDFrame.describe of        price  model_year           model  condition  cylinders fuel  odometer  \
0       9400      2011.0          bmw x5       good        6.0  gas  145000.0
1      25500         NaN      ford f-150       good        6.0  gas   88705.0
2       5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3       1500      2003.0      ford f-150       fair        8.0  gas       NaN
4      14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0
...      ...         ...             ...        ...        ...  ...       ...
51520   9249      2013.0   nissan maxima   like new        6.0  gas   88136.0
51521   2700      2002.0     honda civic    salvage        4.0  gas  181500.0
51522   3950      2009.0  hyundai sonata  excellent        4.0  gas  128000.0
51523   7455      2013.0  toyota corolla       good        4.0  gas  139573.0
51524   6300      2014.0   nissan altima       good        4.0  gas       NaN

      transmission    type paint_color  is_4wd date_posted  days_listed
0        automatic     SUV         NaN     1.0  2018-06-23           19
1        automatic  pickup       white     1.0  2018-10-19           50
2        automatic   sedan         red     NaN  2019-02-07           79
3        automatic  pickup         NaN     NaN  2019-03-22            9
4        automatic   sedan       black     NaN  2019-04-02           28
...            ...     ...         ...     ...         ...          ...
51520    automatic   sedan       black     NaN  2018-10-03           37
51521    automatic   sedan       white     NaN  2018-11-14           22
51522    automatic   sedan        blue     NaN  2018-11-15           32
51523    automatic   sedan       black     NaN  2018-07-02           71
51524    automatic   sedan         NaN     NaN  2018-06-05           10

[51525 rows x 13 columns]>

In [4]:
data.isna().sum()
#shows the amount of unknown values in each column

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [5]:
columns_to_replace = ['model_year','cylinders','odometer','paint_color','is_4wd']
for column in columns_to_replace:
    data[column] = data[column].fillna('unknown')
#replaces all unknown values with the word unknown

In [6]:
#data['model_year'] = data['price'].replace('unknown', 0.0).astype(float)
#data['cylanders'] = data['price'].replace('unknown', 0.0).astype(float)
#data['odometer'] = data['price'].replace('unknown', 0.0).astype(float)
#code not needed above.  Just want to keep it as a reference
data['is_4wd'] = data['price'].replace('unknown', 0.0).astype(float)
#changes nothing to zero

In [ ]:
data['model_year'] = data['model_year'].fillna( data.groupby(['model'])['model_year'].transform('median'))
data['cylinders'] = data['cylinders'].fillna( data.groupby(['cylinder'])['cylinders'].transform('median'))
data['odometer'] = data['odometer'].fillna( data.groupby(['mileage'])['odometer'].transform('median'))
#replaces all unknown values with the median of the values in the chart

In [7]:
data.isna().sum()
#check to see if the previous function worked

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
cylanders       0
dtype: int64

In [8]:
data.duplicated().sum()
#to check if the data has any duplicates. There are no doubles

0

In [9]:
data['model'].sort_values().unique()
#went through list of model names to check if any are spelled incorrectly. none are spelled incorrectly.

array(['acura tl', 'bmw x5', 'buick enclave', 'cadillac escalade',
       'chevrolet camaro', 'chevrolet camaro lt coupe 2d',
       'chevrolet colorado', 'chevrolet corvette', 'chevrolet cruze',
       'chevrolet equinox', 'chevrolet impala', 'chevrolet malibu',
       'chevrolet silverado', 'chevrolet silverado 1500',
       'chevrolet silverado 1500 crew', 'chevrolet silverado 2500hd',
       'chevrolet silverado 3500hd', 'chevrolet suburban',
       'chevrolet tahoe', 'chevrolet trailblazer', 'chevrolet traverse',
       'chrysler 200', 'chrysler 300', 'chrysler town & country',
       'dodge charger', 'dodge dakota', 'dodge grand caravan',
       'ford econoline', 'ford edge', 'ford escape', 'ford expedition',
       'ford explorer', 'ford f-150', 'ford f-250', 'ford f-250 sd',
       'ford f-250 super duty', 'ford f-350 sd', 'ford f150',
       'ford f150 supercrew cab xlt', 'ford f250', 'ford f250 super duty',
       'ford f350', 'ford f350 super duty', 'ford focus', 'ford focus se',
       'ford fusion', 'ford fusion se', 'ford mustang',
       'ford mustang gt coupe 2d', 'ford ranger', 'ford taurus',
       'gmc acadia', 'gmc sierra', 'gmc sierra 1500', 'gmc sierra 2500hd',
       'gmc yukon', 'honda accord', 'honda civic', 'honda civic lx',
       'honda cr-v', 'honda odyssey', 'honda pilot', 'hyundai elantra',
       'hyundai santa fe', 'hyundai sonata', 'jeep cherokee',
       'jeep grand cherokee', 'jeep grand cherokee laredo',
       'jeep liberty', 'jeep wrangler', 'jeep wrangler unlimited',
       'kia sorento', 'kia soul', 'mercedes-benz benze sprinter 2500',
       'nissan altima', 'nissan frontier', 'nissan frontier crew cab sv',
       'nissan maxima', 'nissan murano', 'nissan rogue', 'nissan sentra',
       'nissan versa', 'ram 1500', 'ram 2500', 'ram 3500',
       'subaru forester', 'subaru impreza', 'subaru outback',
       'toyota 4runner', 'toyota camry', 'toyota camry le',
       'toyota corolla', 'toyota highlander', 'toyota prius',
       'toyota rav4', 'toyota sienna', 'toyota tacoma', 'toyota tundra',
       'volkswagen jetta', 'volkswagen passat'], dtype=object)

In [10]:
#determins the titles of the columns. Columns are in the appropriate snake_case
data.columns

Index(['price', 'model_year', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'date_posted', 'days_listed', 'cylanders'],
      dtype='object')

In [11]:
#to create a new csv file for the cleaned data
data.to_csv('cleaned_vehicles_us.csv', index = True)

In [13]:
st.title('##Car Sales Data')

2023-04-26 21:17:59.621
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/coopermigden/anaconda3/lib/python3.10/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

In [14]:
st.write(data.head())
#displays data table

In [15]:
st.header('#Interactive Scatterplot')

DeltaGenerator()

In [16]:
def interactive_plot(data):
    x_axis_val = st.selectbox('Select X-Axis Value', options=data.columns)
    y_axis_val = st.selectbox('Select Y-Axis Value', options=data.columns)
    
    plot = px.scatter(data,x=x_axis_val,y=y_axis_val)
    st.plotly_chart(plot)
#This is a function that creates a scatterplot in which the user is able to choose the x and y axis based upon the columns in the data dataframe.

In [17]:
interactive_plot(data)

In [18]:
st.header('Interactive Historgram')

DeltaGenerator()

In [19]:
st.header('Histogram Via Type of Car and Price')
color_opt=st.checkbox('Please select this checkbox if you want this graph to have color.')
color ='type' if color_opt else None
#determines if the graph has color

hist =px.histogram(data_frame=data,x='type',y='price',color=color)

st.plotly_chart(hist)
#This is a function that creates a histogram that looks at the type of car in this data set.

DeltaGenerator()

Final conclusions